on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

name: Scala Steward

permissions:
  contents: write
  pull-requests: write

jobs:
  scala-steward:
    runs-on: ubuntu-22.04
    name: Scala Steward
    steps:
      - name: Setup mill
        uses: zhutmost/setup-mill@main
        with:
          mill-version: 0.11.12
      - name: Scala Steward
        uses: scala-steward-org/scala-steward-action@v2
